* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-image: url('./pizza.png');
}

/* #content {
    height:100%;
    
} */

header {
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:20vh;
}

#title {
    font-size: 5rem;
    margin:auto;
    color:white;
}

nav {
    margin:10px;
}

nav li {
    display:inline;
    padding:20px;
}

nav a {
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    font-style:italic;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    display:flex;
    height:80vh;
    align-items: center;
    justify-content: center;
}

.panel {
    color:white;
    font-size:4rem;
    text-align: center;
    background-color:rgba(0,0,0,.8);
    height:50%;
    width:95%;
    display:flex;
    align-items: center;
    justify-content:center;
    /* margin:100px; */
}

#menu {
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-auto-rows:50px;
    gap:20px;
    font-size:2.5rem;
    align-items: flex-start;
    height:auto;
    width:auto;
    /* border:3px solid white; */
}

#menuItem0, #menuItem1,#menuItem2,#menuItem3 {
    /* text-decoration: underline; */
    border-bottom:2px solid white; 
    margin:20px;
}

footer {
    background-color:black;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    
}