* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-image: url('./pizza-background-3.png');
    background-size:400px 400px;
}

/* #content {
    height:100%;
    
} */

header {
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:20vh;
}

#title {
    font-size: 5rem;
    margin:auto;
    color:white;
}

nav {
    margin:10px;
}

nav li {
    display:inline;
    padding:20px;
}

nav a {
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    font-style:italic;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    display:flex;
    height:80vh;
    align-items: center;
    justify-content: center;
}

.panel {
    color:white;
    font-size:4rem;
    text-align: center;
    background-color:rgba(0,0,0,.85);
    height:80%;
    width:70%;
    display:flex;
    align-items: center;
    justify-content:center;
}

#about {
    display:grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    font-size:2rem;
}

#pizzaSlice {
    margin:auto;
    height:200px;
    width:300px;
}

#orderNow {
    width:150px;
    height:50px;
    margin:auto;
    background-color: transparent;
    border:2px solid white;
    color:white;
    cursor: pointer;
}

#menu {
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-auto-rows:50px;
    gap:30px;
    font-size:2.5rem;
    align-items: flex-start;
    height:auto;
    width:auto;
    padding:20px;
}

#menuItem0, #menuItem1,#menuItem2,#menuItem3 {
    border-bottom:2px solid white; 
    margin:20px;
}

#contact {
    display:flex;
    flex-direction:column;
    height:auto;
    width:auto;
    font-size:2rem;
    gap:50px;
    padding:50px;
}

#contactUs {
    border-bottom: 3px solid white;
}

footer {
    background-color:black;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    
}